{  
  "presets": [
    [
      "babel-preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7",
            "not ie <= 8"
          ]
        }
      }
    ]
  ],
  "plugins": ["syntax-dynamic-import"]
}